body{
	text-align: left
}

p {
	font-family: Barlow Medium, sans-serif;
}

h2 {
	font-family: Barlow Medium, sans-serif;
	font-weight: bold;
}

header{
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
}

header ul{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	padding: 0;
	overflow: hidden;
}

header li{
	float: left;
}

header li a{
	display: block;
	font-family: DIN Next Light, sans-serif;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	padding: 14px;
}

header li a:hover{
	background-color: #E7AF41;
}

a.Active{
	color: #384AD3;
	background-color: #E7AF41;
	cursor: pointer;
}


div.Container {
	height: 300px;
	width: 80%;
	margin: auto;
	padding: 10px;
	font-size: 1.25em; 
	border-style: solid;
	border-width: 1px;
	overflow: auto;
}

div.Home{
	padding: 20px;
}

.Forms{
	display: inline-block;
}

div.Forms img{
	float: left;
}

div.Container p{
	display: block;
	margin-top: 0;
}

div.Container img{
	margin: 5px; 
	border: 1px solid #ccc; 
	width: 250px; 
	float:  right;
}

div.Container div{
	width: 45%;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

div.desc {
  padding: 15px;
  text-align: center;
}